@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-zinc-50 text-zinc-950 antialiased;
}

* {
  box-sizing: border-box;
  @apply selection:bg-zinc-900 selection:text-white;
}
