@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-zinc-50 text-zinc-950 antialiased;
}

* {
  @apply selection:bg-zinc-900 selection:text-white;
}
